<!doctype html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
    <title>Django Highcharts Example</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <style>
      h4{
        text-align:center;
        font-family: 'Nanum Pen Script', cursive;
      }
    </style>
</head>
<body>
  <div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>
  <div id="secondchart" style="width: 550px; height: 400px; margin: 0 auto"></div>
  <script language="JavaScript">
    var lastIndex = {{C1|length}};
    var thirdLastIndex = parseInt(lastIndex)-3;
    var secondLastIndex = parseInt(lastIndex)-2;
    var frontLastIndex = parseInt(lastIndex) -1;
    var lastIndex = parseInt(lastIndex);
    var allElements = {{C1}};
    var thirdLastValue = allElements[lastIndex-4];
    var secondLastValue= allElements[lastIndex-3];
    var frontLastValue = allElements[lastIndex-2];
    var lastValue = allElements[lastIndex-1];
     {% autoescape off %}
    var kw1 = "{{ kw1|escapejs }}"
    {% endautoescape %}
    Highcharts.chart('container', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: '매체별 데이터 수집량 비율'
        },
         tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
         },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
          name: 'Media',
          colorByPoint: true,
          data: [{
              name: 'KBS',
              y: thirdLastValue,
              sliced: true,
              selected: true
          }, {
              name: 'MBC',
              y: secondLastValue
          }, {
              name: 'SBS',
              y:frontLastValue
          }, {
              name: 'JTBC',
              y: lastValue
          }]
        }]

    });
  </script>
  <script language="JavaScript">
    var lastIndex = {{C1|length}};
    var thirdLastIndex = parseInt(lastIndex)-3;
    var secondLastIndex = parseInt(lastIndex)-2;
    var frontLastIndex = parseInt(lastIndex) -1;
    var lastIndex = parseInt(lastIndex);
    var allElements = {{C1}};
    var thirdLastValue = allElements[lastIndex-4];
    var secondLastValue= allElements[lastIndex-3];
    var frontLastValue = allElements[lastIndex-2];
    var lastValue = allElements[lastIndex-1];
     {% autoescape off %}
    var B = "{{ kw1|escapejs }}"
    {% endautoescape %}
    Highcharts.chart('secondchart', {
        chart: {
            type: 'bar'
        },
        title: {
            text: '매체별 데이터 수집량'
        },
        xAxis: {
            categories: ['KBS', 'MBC', 'SBS', 'JTBC'],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 80,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
          name: 'Count Number',
          colorByPoint: true,
          data: [{
              y: thirdLastValue
          }, {
              y:secondLastValue
          }, {
              y:frontLastValue
          }, {
              y: lastValue
          }]
        }]

    });
  </script>
<h4><script type="text/javascript">
document.write(kw1);
</script>이(가) 검색된 총 횟수는 <script type="text/javascript">
document.write(lastValue +frontLastValue+secondLastValue+ thirdLastValue  );
</script>입니다.</h4>
</body>
</html>